#count {
  min-width: 100px;
  text-align: center;
  background-color: skyblue;
  padding: 10px;
  border-radius: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  cursor: pointer;
  margin-inline: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#container {
  padding: 20px;
  border-radius: 10px;
  background-color: orange;
}
